@charset "UTF-8";

@import url(/fonts/fonts.css);

a {
   text-decoration: none;
}

a:link {
   color: #806040;
}

a:visited {
   color: #406080;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: #606060;
}

body {
   background-color: #ddeeff;
   color: #001122;
   font-family: Didot, Palatino, "Palatino Linotype", serif;
}

canvas#votespace, fieldset {
   float: left;
}

input {
   text-align: right;
}

label {
   display: block;
}

label.aar-dsv-option {
   background-color: #000000;
   color: #ffff00;
   font-weight: bold;
}

label.average-option {
   background-color: #000000;
   color: #ffaa00;
   font-weight: bold;
}

label.fermat-weber-option {
   background-color: #000000;
   color: #aaff00;
   font-weight: bold;
}

label.per-dim-median-option {
   background-color: #000000;
   color: #55ff55;
   font-weight: bold;
}

label.per-dim-midrange-option {
   background-color: #000000;
   color: #ff5555;
   font-weight: bold;
}

.bigtop {
   color: #660033;
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
}

.credits {
   border-top: 1px #000000 solid;
   clear: both;
   font-style: italic;
   padding-top: 3px;
}

.debug-at-bottom {
   clear: both;
}

.smalltop {
   color: #660033;
   font-family: Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   font-size: 100%;
   font-weight: normal;
}

.variable {
   font-style: italic;
}
